@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

.conteudo {
	margin: 0 auto;
	display: flex;
}
.alinhamento-central {
	min-height: 88vh;
	justify-content: center;
	align-items: center;
    .item{
        flex: 1;
	    padding: 10px;
    }
}
#print{
    position: fixed;
    bottom: -1.5em;
    right: -1.5em;
    // border-radius: 360px;
    padding: 0 !important;
    margin: 0 !important;
    width: 85px;
    height: 80px;
    // padding: 3em 3em;
    transition: all 0.3s ease 0s;
    background: #0094C0;
    border: none;
    span{
        position: fixed;
        opacity: 0;
        right: 3.5em;
        bottom: 0.9em;
        font-size: 0.9em;
        letter-spacing: -1px;
    }
    img{
        max-width: 40px;
        position: fixed;
        right: 0.5em;
        bottom: 0.5em;
    }
    &:hover{
        width: 195px;
        // height: 200px;
        // bottom: -3em;
        right: -3em;
        transition: all 0.3s ease 0s;
        &>span{
            transition: all 0.3s ease 0s;
            opacity: 1;
        }
    }
}
.etiqueta{
    border: 2px solid #0094C0;
    border-radius: 2em;
    min-height: 530px;
    min-width: 280px;
    background: url(~/assets/images/etiqueta-bg.jpg)no-repeat center center;
    position: absolute;
    input{
        border: none;
        background: none;
        color: #FFF;
        font-weight: bolder;
        font-size: 1.9em;
        letter-spacing: -3px;
    }
    span{
        div{
            position: relative;
            top: -24px;
            left: -15px;
            width: 0; 
            height: 0; 
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent; 
            border-right:15px solid #000;
        }
        position: absolute;
        background: #000;
        text-transform: uppercase;
        width: 30px;
        border-left: 1px solid #000;
        font-size: 24px;
        height: 30px;
        padding: 4px 0;
        line-height: 20px;
        text-align: center;
        color: #FFF;
        right: 130px;
        
    }
    .consumo, .chuva{
        span{
            &:nth-child(2){
                top: 115px;
            }
            &:nth-child(4){
                top: 136px;
            }
            &:nth-child(6){
                top: 158px;
            }
            &:nth-child(8){
                top: 179px;
            }
            &:nth-child(10){
                top: 200px;
            }
            &:nth-child(12){
                top: 221px;
            }
            &:nth-child(14){
                top: 243px;
            }
        }
        button{
            position: absolute;
            left: 18px;
            padding: 0 !important;
            height: 20px;
            background: none;
            border: none;
            &:hover{
                background: none;
                border: none;
                box-shadow: 0px 0px 20px #333;
            }
            &:active, &:focus{
                box-shadow: none;
                border: none !important;
                background: none !important;
            }
            &:nth-child(1){
                top: 119px;
                width: 20px;
            }
            &:nth-child(3){
                top: 140px;
                width: 28px;
            }
            &:nth-child(5){
                top: 161px;
                width: 37px;
            }
            &:nth-child(7){
                top: 182px;
                width: 45px;
            }
            &:nth-child(9){
                top: 203px;
                width: 53px;
            }
            &:nth-child(11){
                top: 224px;
                width: 62px;
            }
            &:nth-child(13){
                top: 246px;
                width: 70px;
            }
        }

    }
    .chuva{
        position: absolute;
        right: -112px;
        button{
            position: absolute;
            left: -228px;
            padding: 0 !important;
            height: 20px;
            background: none;
            border: none;
            width: 22px !important;
            &:hover{
                background: none;
                border: none;
                box-shadow: 0px 0px 20px #333;
            }
            &:active, &:focus{
                box-shadow: none;
                border: none !important;
                background: none !important;
            }
            &:nth-child(1){
                top: 119px;
            }
            &:nth-child(3){
                top: 140px;
            }
            &:nth-child(5){
                top: 161px;
            }
            &:nth-child(7){
                top: 182px;
            }
            &:nth-child(9){
                top: 203px;
            }
            &:nth-child(11){
                top: 224px;
            }
            &:nth-child(13){
                top: 246px;
            }
        }

    }
    #db{
        position: absolute;
        width: 95px;
        left: 177px;
        flex: auto;
        top: 303px;
    }
}